# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html
commands:
    01-copy-newrelic:
        command: "source /tmp/eb_env.sh ; cp -R /tmp/.ebextensions/tomcat/newrelic $TOMCAT_HOME"
    02-set-license-key:
        command: "source /tmp/eb_env.sh ; echo \"license_key: $NEWRELIC_CONFIG_LICENSE_KEY\" | sudo tee -a /etc/newrelic-infra.yml"
    03-create-yum-repository:
        command: "source /tmp/eb_env.sh ; if [ \"$NEWRELIC_CONFIG_AGENT_ENABLED\" == \"true\" ]; then echo Downloading newrelic-infra; sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/el/6/x86_64/newrelic-infra.repo; else echo Not Downloading newrelic-infra; echo not doing anything; fi"
        ignoreErrors: true
    04-update-yum-cache:
        command: sudo yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
        ignoreErrors: true
    05-run-installation-script:
        command: "source /tmp/eb_env.sh ; if [ \"$NEWRELIC_CONFIG_AGENT_ENABLED\" == \"true\" ]; then echo Installing newrelic-infra; sudo yum install newrelic-infra -y; else echo Not Installing newrelic-infra; sudo yum remove newrelic-infra -y; fi"
        ignoreErrors: true