# Import the Australia Post certificate authority certs for all environments into the java trust store

commands:
    01-import-corpdev-ca1:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep apdevica1 && echo apdevica1 already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apDevICA1.cer -alias apdevica1"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep dev"
    02-import-corpdev-ca2:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep apdevica2 && echo apdevica2 already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apDevICA2.cer -alias apdevica2"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep dev"
    03-import-corpdev-root:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep apdevrca && echo apdevrca already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apDevRCA.cer -alias apdevrca"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep dev"

    04-import-corptest-ca1:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep aptestica1 && echo aptestica1 already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apTestICA1.cer -alias aptestica1"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep test"
    05-import-corptest-ca2:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep aptestica2 && echo aptestica2 already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apTestICA2.cer -alias aptestica2"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep test"
    06-import-corptest-root:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep aptestrca && echo aptestrca already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apTestRCA.cer -alias aptestrca"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep test"

    07-import-corp-ca1:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep approdica1 && echo approdica1 already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apProdICA1.cer -alias approdica1"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep prod"
    08-import-corp-ca2:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep approdica2 && echo approdica2 already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apProdICA2.cer -alias approdica2"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep prod"
    09-import-corp-root:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit | grep approdrca && echo approdrca already exists || keytool -importcert -noprompt -keystore /etc/pki/java/cacerts -storepass changeit -file /tmp/.ebextensions/ap-ca/apProdRCA.cer -alias approdrca"
        test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep prod"

    10-list-certificates:
        command: "keytool -list -keystore /etc/pki/java/cacerts -storepass changeit"
