users:
  svcrapid7vmscanlinux:
    groups:
      - wheel
    homedir: "/home/svcrapid7vmscanlinux"

commands:
  01_change_rapid7_user_shell:
    command: chsh -s /bin/bash svcrapid7vmscanlinux
  02_update_suodoers_to_enable_wheel:
    command: echo "%wheel ALL=(ALL) NOPASSWD:ALL" | EDITOR='tee -a' visudo
  03_create_ssh_folder:
    command: |
      mkdir -p /home/svcrapid7vmscanlinux/.ssh
      chmod 700 /home/svcrapid7vmscanlinux/.ssh
      chown -R svcrapid7vmscanlinux:svcrapid7vmscanlinux /home/svcrapid7vmscanlinux
  04_create_authorised_key_file: 
    command: |
      touch /home/svcrapid7vmscanlinux/.ssh/authorized_keys
      chown svcrapid7vmscanlinux:svcrapid7vmscanlinux /home/svcrapid7vmscanlinux/.ssh/authorized_keys
      chmod 600 /home/svcrapid7vmscanlinux/.ssh/authorized_keys

container_commands:
  05_add_dev_ssh_key:
    command: |
      aws s3 cp s3://elasticbeanstalk-nexpose-pubkey/ap-dev.vm.pub tmpfile
      cat tmpfile > /home/svcrapid7vmscanlinux/.ssh/authorized_keys
      rm tmpfile
    test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep dev"
  06_add_test_ssh_key:
    command: |
      aws s3 cp s3://elasticbeanstalk-nexpose-pubkey/ap-test.vm.pub tmpfile
      cat tmpfile > /home/svcrapid7vmscanlinux/.ssh/authorized_keys
      rm tmpfile
    test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep test"
  07_add_prod_ssh_key:
    command: |
      aws s3 cp s3://elasticbeanstalk-nexpose-pubkey/ap-prod.vm.pub tmpfile
      cat tmpfile > /home/svcrapid7vmscanlinux/.ssh/authorized_keys
      rm tmpfile
    test: "/opt/elasticbeanstalk/bin/get-config environment -k ap.env |grep prod"