<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min-4.0.0.css}" href="../static/css/bootstrap.min-4.0.0.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min-1.12.1.css}" href="../static/css/jquery-ui.min-1.12.1.css" />

    <script th:src="@{/scripts/jquery-3.3.1.min.js}" src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script th:src="@{/scripts/jquery-ui.min-1.12.1.js}" src="../static/scripts/jquery-ui.min-1.12.1.js"></script>
    <script th:src="@{/scripts/bootstrap.min-4.0.0.js}" src="../static/scripts/bootstrap.min-4.0.0.js"></script>

    <title>ChangeMe</title>

    <style>

    </style>
</head>

<body>
ChangeMe home page
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
</script>
</html>
